blinker==1.9.0
click==8.4.2
colorama==0.4.6
Flask==3.1.3
flask-cors==6.0.5
grpcio==1.81.1
grpcio-tools==1.81.1
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.10.2
MarkupSafe==3.0.3
protobuf==6.33.6
setuptools==82.0.1
typing_extensions==4.15.0
Werkzeug==3.1.8
